/* general */

*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

:root{
    font-family: sans-serif;
    font-weight: 700;
}

#wrapper{
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

/* header */

header{
    color: white;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:40px;
   
}

header span{
    background-color: rgb(95, 95, 95);
    padding:4px;
    border-radius: 5px;
    margin:4px 
}

/* main */

main{
    flex-grow: 1;
    overflow-y:scroll;
}


/* footer */

footer{
    color: white;
    background-color: black;
   
    height:40px;
   
}